    <p><b>usage:</b> either use the form (see below for syntax) or GET your query from /search/&lt;query_string&gt;.</p>
    <p><b>examples (in CCL syntax):</b>
    <ul><li>author: <a href='/search/au="van rossum, guido"'>au="van rossum, guido"</a></li>
    <li>title: <a href='/search/ti="henriette d. avram retirement program"'>ti="henriette d. avram retirement program"</a></li>
    <li>keyword + boolean: <a href='/search/("blue book" or "blaue buch") and wittgenstein'>("blue book" or "blaue buch") and wittgenstein</a></li></ul>
    </p>
  </body>
</html>
